@model SistemaTabajara.Models.Partida

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Partida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Liga.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liga.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mandante.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mandante.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visitante.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visitante.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rodada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estadio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estadio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
