@model SistemaTabajara.Models.EstatisticaPartida

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EstatisticaPartida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jogador.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jogador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partida.Estadio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partida.Estadio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinutosJogados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinutosJogados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assistencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assistencias)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
